name: Plugin Test

on:
  push:
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          command: vals version
          gitref: ${{ github.ref_name }}
